.company {
  width: auto;
}

.company__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0 auto;
  padding-left: 155px;
  padding-right: 55px;
}

.company__title {
  display: inline-block;
  width: 800px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  text-align: left;
}
.company__title:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
  width: 120px;
  height: 3px;
  background-color: #000;
}
.company__text {
  width: 500px;
  font-size: 16px;
}
.company__text p {
  margin-bottom: 25px;
}

.company__stats {
  display: flex;
  justify-content: space-between;

}
.company__stats p {
  margin-right: 45px;
  text-align: left;
}
.company__stats span {
  display: block;
  margin-bottom: 5px;
  font-size: 38px;
  line-height: 50px;

}

.company__link {
  margin-bottom: 30px;
  display: inline-block;
  margin-bottom: 85px;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
}

.company__img {
  align-self: flex-start;
}