.contacts {
  position: relative;
  width: auto;
  background-color: #f9f9f9;
}

.contacts__wrapper {
  display: flex;
  width: 1280px;
  margin: 0 auto;
  padding-left: 155px;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 55px;
}
.contacts__map {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
}
.contacts__title { 
  margin-bottom: 25px;
  font-size: 28px;
  line-height: 38px;
}

.contacts__text {
  width: 250px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
}

.contacts__text span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.contacts__phone {
  display: block;
  width: 250px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
.contacts__phone span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.contacts__email {
  display: block;
  width: 250px;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
.contacts__email span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}
.form {
  position: absolute;
  top: 125px;
  left: 50%;
  right: 50%;
  display: block;
  padding: 40px 30px 50px;
  margin: 0 auto;
  width: 370px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transform: translateX(-135px);
  background-color: #fff;
  text-align: left;
  z-index: 5;

}
.form__title {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 33px;
  font-weight: normal;
}
.form__title-mobile {
  display: none;
}
.form__inputs {
  display: flex;
  flex-direction: column;
}

.form__lable {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.form__input {
  display: block;
  width: 290px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #979797;
  padding: 5px 0px;
  font-size: 16px;
  line-height: 22px;
  transition: all .3s;
}

.form__textarea {
  display: block;
  width: 290px;
  margin-bottom: 20px;
  border: none;
  border-bottom: solid 1px #979797;
  padding: 5px 0;
  font-size: 16px;
  line-height: 22px;
  resize: none;
  transition: all .3s;
}

.form__input:focus,
.form__textarea:focus {
  border-bottom: solid 1px #c50b1e;
  color: #c50b1e;
}
.form__textarea:focus.form__lable {
  color: #c50b1e;
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.form__checkbox + .form__check-lable {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
}
.form__checkbox + .form__check-lable:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
}

.form__checkbox + .form__check-lable:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 0px;
  display: none;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-image: url(../../img/icon-check.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all .3s;
}
.form__checkbox:checked + .form__check-lable:after {
  display: block;
}

.form__check-lable {
  font-size: 10px;
}
.form__button {
  width: 180px;
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background: none;
  border: solid 1px transparent;
  background-color: #C50B1E;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  font-weight: normal;
  transition: all .3s;
}

::-webkit-input-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
}
::-moz-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
  }
:-moz-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
  }
:-ms-input-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
}
::-webkit-textarea-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
}
::-moz-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
  }
:-moz-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
  }
:-ms-textarea-placeholder {
  color:#787878;
  font-size: 16px;
  line-height: 22px;
}
.social {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}
.social__list {
  list-style: none;
}

.social__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.social__item {
  margin-right: 20px;
}
.social__link {
  width: 30px;
  height: 30px;
}
.social__link svg  {
  fill: #c50b1e;
}
.social__link:hover {
  opacity: .4;
}
.social__private {
  margin-top: 150px;
}
.social__private a {
  display: block;
  color: #000;
}

@media only screen and (min-width : 960px) and (max-width : 1120px) {
  .contacts__wrapper {
    display: flex;
    width: 1024px;
    margin: 0 auto;
    padding-left: 135px;
    padding-top: 100px;
    padding-right: 55px;
  }
  .form__title {
    display: block;
  }
  .form__title-mobile {
    display: none;
  }
}
@media only screen and (min-width : 640px) and (max-width : 959px) {
.contacts {
    width: auto;
    background-color: #fff;
  }
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 30px 0;
  }
  .contacts__item {
    order: 1;
  }
  .contacts__item span {
    display: none;
  }
  .contacts__map {
    display: none;
  }
  .contacts__form {
    position: static;
    transform: none;
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 60px;
    border-radius: 0;
    box-shadow: none;
    background-color: #fff;
    text-align: left;
    z-index: 5;
    }
  .form__title {
    display: none;
  }
  .form__title-mobile {
    display: block;
    margin-top: 40px;
    font-size: 24px;
    line-height: 33px;
    font-weight: normal;
  }
  .contacts__title {
    display: none;
  }
  .social__private {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width : 320px)and (max-width : 639px) {
  .contacts {
    width: auto;
    background-color: #fff;
  }
  .contacts__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 70px 20px 0;
  }
  .contacts__item {
    order: 1;
  }
  .contacts__item span {
    display: none;
  }
  .contacts__map {
    display: none;
  }
  .contacts__form {
    position: static;
    transform: none;
    width: 100%;
    display: block;
    padding: 0;
    margin-bottom: 60px;
    border-radius: 0;
    box-shadow: none;
    background-color: #fff;
    text-align: left;
    z-index: 5;
    }
  .form__title {
    display: none;
  }
  .form__title-mobile {
    display: block;
    margin-top: 40px;
    font-size: 24px;
    line-height: 33px;
    font-weight: normal;
  }
  .contacts__title {
    display: none;
  }
  .social__private {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
  }
}