.legal {
  width: 100%;
  height: 60%;
  padding: 5px;

}
.legal__wrapper {
  padding-top: 30px;
  text-align: left;
}

.legal__title {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
.legal__text {
  font-size: 12px;
  line-height: 14px;
}
.legal__image {
    width: 370px;
    height: 280px;
  }
@media (min-width: $tablet-width) {
  .legal {
    width: 95%;
    height: 70%;
    padding: 15px;
  }
  .legal__wrapper {
    padding-top: 0;
    text-align: left;
  }
  .legal__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .legal__text {
    font-size: 18px;
    line-height: 24px;
  }
  .legal__image {
    width: 400px;
    height: 370px;
  }
}
@media (min-width: $laptop-width) {
  .legal {
    width: 40%;
    height: 75%;
    padding: 30px;
  }

  .legal__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .legal__text {
    font-size: 18px;
    line-height: 24px;
  }
  .legal__image {
    width: 430px;
    height: 320px;
  }
}
@media (min-width: $desctop-width) {
  .legal__image {
    width: 450px;
    height: 400px;
  }
}