.page-footer {
  width: auto;
  margin-top: 20px;
  background-color: #eee;
}
.page-footer__wrapper {
  display: flex;
  justify-content: space-around;
  width: 1280px;
  margin: 0 auto;
  padding-left: 55px;
  padding-right: 55px;
}
.page-footer__addres {
  width: 300px;
}