.popup {
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% + 40px);
  padding: 0 20px;
  overflow: auto;
  z-index: 1000000;
}
.popup.active {
  display: flex;
}
.popup__item {
  position: relative;
  display: block;
  width: 100%;
  height: 236px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 10001;
}
.popup__item h2 {
  margin-top: 70px;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 29px;
  color: #c50b1e;
}
.popup__item p {
  margin-bottom: 5px;
}
.popup__item.active {
  display: block;
}
.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 10000!important;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}
.popup__overlay--show {
  display: block;
}
.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  width: 25px;
  height: 25px;
  background-color: #fff;
  
}
.popup__btn {
  position: relative;
  width: 100%;
  height: 100%;
}
.popup__btn span {
  position: absolute;
  left: 0;
  display: block;
  width: 22px;
  height: 3px;
  background-color: #000;
  transform: rotate(45deg);
  transition: all .3s ease;
}

.popup__btn span:before {
  position: absolute;
  left: 0;
  content: '';
  display: block;
  width: 22px;
  height: 3px;
  background-color: #000;
  transform: rotate(90deg);
  transition: all .3s ease;
}
.popup__btn:hover span,
.popup__btn:hover span:before {
  background-color: #c50b1e;
}
@media (min-width: $tablet-width) {
  .popup__item {
    width: 370px;
  }
}

// Политика конфидециальности 
.policy {
  border-radius: 0;
  position: relative;
  width: 100%;
  height: 95%;
  padding: 5px;
  padding-bottom: 20px;
  text-align: left;
  overflow-y: scroll;
}
body + .policy.active {
  overflow: hidden;
}
.popup__item .policy__title {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0;
  color: #000;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.popup__item .policy__subtitle {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  color: #000;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}
.policy__text {
  font-size: 10px;
  line-height: 16px;
  margin-bottom: 100px;
}
.policy__text a {
  color: #000;
}
.agree__button {
  display: block;
  background-color: #C50B1E;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Open Sans", 'Arial', sans-serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  color: #fff;
}
.agree__button--cancel {
  margin-top: 0;
}
.agree__button:hover {
  background-color: #B01122;
}

@media (min-width: $tablet-width) {
  .policy {
    width: 90%;
    height: 65%;
    padding: 15px;
  }
  .agree__button {
    background-color: #C50B1E;
    width: 160px;
    margin-bottom: 0;
  }
  .popup__item .policy__title {
    font-size: 18px;
    line-height: 20px;
  }

  .popup__item .policy__subtitle {
    font-size: 14px;
    line-height: 20px;
  }
  .policy__text {
    font-size: 14px;
    line-height: 20px;

  }
  .agree__button {
    display: inline-block;
    margin-right: 20px;
  }
  .agree__button--cancel {
    display: inline-block;
    margin-top: 30px;
  }
  // .policy > .popup__close {
  //   position: fixed;
  //   right: 10px;
  //   top: 10px;
  //   background: none;
  //   z-index: 10;
  // }
  // .policy > .popup__close span {
  //   background-color: #fff;
  // }
  // .policy > .popup__close span:before {
  //   background-color: #fff;
  // }
  // .policy > .popup__close:hover span {
  //   background-color: #c50b1e;
  // }
  // .policy > .popup__close:hover span:before {
  //   background-color: #c50b1e;
  // }
}