.reviews {
  width: auto;
}

.reviews__wrapper {
  width: 1280px;
  margin: 0 auto;
  padding-left: 155px;
  padding-top: 30px;
  padding-right: 55px;
}

.reviews__title {
  width: 500px;
  margin-bottom: 80px;
  font-size: 20px;
  line-height: 25px;
  font-weight: normal;
}

.review {
  width: 770px;
}
.reviews__slider {
  position: relative;
  width: 675px;
  margin: 0 auto;
}
.review__slide {
  display: flex!important;
}
.review__author {
  text-align: center;
  margin-right: 50px;
}
.review__img {
  width: 90px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.review__img img {
  margin: 0 auto;
  border-radius: 100%;
}

.review__text {
  width: 500px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.review__toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 675px;
  margin: 0 auto 60px;
}

.review__toggle-btn {
  background: none;
  border: none;
  width: 14px;
  height: 30px;
  
  &--prev {
    margin-right: 15px;
    fill: #000;
  }
  &--next {
    margin-left: 0;
    fill: #000;
  }
}
.review__toggle-numbers {
  font-size: 14px;
  color: #565656;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name__item {
  width: 125px;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}

.name__text {
  font-size: 12px;
  line-height: 17px;
}


.clients__list {
  display: flex;
  align-items: center;
  width: 970px;
  margin: 0 auto;
  list-style: none;
}
.clients__item {
  width: 220px;
  margin-right: 20px;
  opacity: 1;
  transition: all .3 ease;
}
.clients__item:hover {
  opacity: .7;
}

.clients__item img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

@media only screen and (max-width : 1024px) {
  .reviews__wrapper {
    width: 1024px;
    margin: 0 auto;
    padding-left: 135px;
    padding-top: 30px;
    padding-right: 42px;
  }

  .reviews__title {
    width: 500px;
    margin-bottom: 80px;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
  }
  .review {
    width: 670px;
  }
  .reviews__slider {
    position: relative;
    width: 675px;
    margin: 0;
  }
  .review__toggle {
    width: 500px;
  }
  .clients__list {
    width: 660px;
    margin: 0;
  }
}