.reviews {
  width: auto;
}

.reviews__wrapper {
  width: 1280px;
  margin: 0 auto;
  padding-left: 155px;
  padding-top: 100px;
  padding-right: 55px;
}

.clients__text {
  width: 680px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 25px;
}
.clients__list {
  display: flex;
  width: 640px;
  list-style: none;
}
.clients__item {
  width: 200px;
  max-height: 70px;
  margin-right: 30px;
  opacity: 1;
  transition: all .3 ease;
}
.clients__item:hover {
  opacity: .7;
}

.clients__item img {
  max-width: 100%;
  height: auto;
  margin-top: auto;
}
.review {
  width: 770px;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 60px;
}
.reviews__slider {
  position: relative;
  width: 675px;
  margin: 0 auto;
}
.review__slide {
  display: flex!important;
}
.review__author {
  text-align: center;
  margin-right: 50px;
}
.review__img {
  width: 90px;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.review__img img {
  margin: 0 auto;
  border-radius: 100%;
}

.review__text {
  width: 500px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.review__toggle {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.review__toggle-btn {
  background: none;
  border: none;
  width: 14px;
  height: 30px;
  
  &--prev {
    margin-right: 15px;
    fill: #000;
  }
  &--next {
    margin-left: 0;
    fill: #000;
  }
}
.review__toggle-numbers {
  font-size: 14px;
  color: #565656;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name__item {
  width: 125px;
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 5px;
}

.name__text {
  font-size: 12px;
  line-height: 17px;
}